<div class="row" style="background: rgb(64,64,65);margin-right: 0;margin-left: 0;">
    <div class="col" style="margin-bottom: 0;padding-bottom: 5%;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <h1 class="text-center">BLOG DE NOTICIAS<br></h1>
                </div>
                <div class="col-xl-7">
                    <div class="row">
                        <div class="col text-center">
                            <p class="number-text" style="font-weight: bold;text-align: center;margin-top: 0px;">ARTÍCULO RECIENTE<br></p>
                            <h1 style="font-size: 21px;font-family: 'Myriad Pro';line-height: 29px;text-align: center;letter-spacing: 2px;height: 36px;font-weight: bold;color: rgb(255,255,255);padding: 0px;padding-top: 5px;padding-bottom: 5px;margin-bottom: 26px;padding-left: 17px;">ARTÍCULO RECIENTE<br></h1><img id="recent-article-image" src="assets/img/Foto%202%20Home.jpg">
                            <h3 id="recent-article-title">TITULAR TITULAR<br>TITULAR TITULAR TITULAR<br></h3>
                            <h6 id="recent-article-date">Caracas, Septiembre 2020<br></h6>
                            <hr style="border-style: none;border-top-style: none;border-top-color: rgb(0,129,188);background: rgb(0,129,188);height: 2px;">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="row">
                        <div class="col">
                            <h5 class="text-center" id="heading-articulos-destacados">ARTÍCULOS DESTACADOS<br></h5>
                            <h4 class="title-destacado">TITULAR TITULAR<br>TITULAR TITULAR TITULAR<br></h4>
                            <h6 class="title-destacado-date">Caracas, Septiembre 2020<br></h6>
                            <hr class="title-destacado-line">
                            <h4 class="title-destacado">TITULAR TITULAR<br>TITULAR TITULAR TITULAR<br></h4>
                            <h6 class="title-destacado-date">Caracas, Septiembre 2020<br></h6>
                            <hr class="title-destacado-line">
                            <h4 class="title-destacado">TITULAR TITULAR<br>TITULAR TITULAR TITULAR<br></h4>
                            <h6 class="title-destacado-date">Caracas, Septiembre 2020<br></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>