<div class="row" style="background: rgb(64,64,65);margin-right: 0;margin-left: 0;">
    <div class="col" style="margin-bottom: 0;padding-bottom: 5%;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <h1 class="text-center">BLOG DE NOTICIAS<br></h1>
                </div>
                <div class="col-xl-7">
                    <div class="row">
                        <div class="col text-center">
                            <h1 style="font-size: 21px;line-height: 29px;text-align: center;letter-spacing: 2px;height: 36px;font-weight: bold;color: rgb(255,255,255);padding: 0px;padding-top: 5px;padding-bottom: 5px;margin-bottom: 26px;padding-left: 17px;">ARTÍCULO RECIENTE<br></h1><img id="recent-article-image" src="assets/img/blog%20index.png">
                            <h3 id="recent-article-title">TITULAR TITULAR<br>TITULAR TITULAR TITULAR<br></h3>
                            <h6 id="recent-article-date">Caracas, Septiembre 2020<br></h6>
                            <hr style="border-style: none;border-top-style: none;border-top-color: rgb(0,129,188);background: rgb(0,129,188);height: 2px;">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="row">
                        <div class="col" style="padding-right: 0;padding-left: 0PX;">
                            <h5 class="text-center" style="font-size: 21px;line-height: 36px;text-align: center;letter-spacing: 2px;font-weight: bold;background: rgb(35,31,32);margin-bottom: 0;padding-top: 5px;padding-bottom: 5px;">ARTÍCULOS DESTACADOS<br></h5>
                            <h4 style="font-size: 24px;text-align: center;font-weight: 500;font-style: normal;margin-top: 6%;line-height: 26px;margin-right: 20PX;margin-left: 20px;">TITULAR TITULAR<br>TITULAR TITULAR TITULAR<br></h4>
                            <h6 style="text-align: center;font-size: 14px;margin-bottom: 26px;margin-top: 1%;margin-right: 20PX;margin-left: 20px;">Caracas, Septiembre 2020<br></h6>
                            <hr style="border-style: none;border-top-style: none;border-top-color: rgb(0,129,188);background: rgb(19,25,33);height: 2px;margin-bottom: 2.5%;margin-right: 20PX;margin-left: 20px;">
                            <h4 style="font-size: 24px;text-align: center;font-weight: 500;font-style: normal;margin-top: 6%;line-height: 26px;margin-right: 20PX;margin-left: 20px;">TITULAR TITULAR<br>TITULAR TITULAR TITULAR<br></h4>
                            <h6 style="text-align: center;font-size: 14px;margin-bottom: 25px;margin-top: 1%;margin-right: 20PX;margin-left: 20px;">Caracas, Septiembre 2020<br></h6>
                            <hr style="border-style: none;border-top-style: none;border-top-color: rgb(0,129,188);background: rgb(19,25,33);height: 2px;margin-bottom: 2.5%;margin-right: 20PX;margin-left: 20px;">
                            <h4 style="font-size: 24px;text-align: center;font-weight: 500;font-style: normal;margin-top: 6%;line-height: 26px;margin-right: 20PX;margin-left: 20px;">TITULAR TITULAR<br>TITULAR TITULAR TITULAR<br></h4>
                            <h6 style="text-align: center;font-size: 14px;margin-bottom: 26px;margin-top: 1%;margin-right: 20PX;margin-left: 20px;">Caracas, Septiembre 2020<br></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>