<div class="row">
                <div class="col-12 text-center align-self-center">
                    <div class="row">
                        <div class="col-4 text-center"><img class="img-fluid post-thumbnail" src="{{image}}" width="100%"></div>
                        <div class="col-8 text-left">
                            <div class="row">
                                <a href="{{postURL}}"><div class="col-12 text-truncate"><h1 class="text-uppercase text-left post-title-thumbnail">{{heading}}</h1></div></a>
                                <div class="col-12"><p class="text-left post-description-thumbnail" style="display: block;overflow-wrap: break-word;display: inline;">{{content}}</p></div>
                            </div>
                            
                            
                        </div>
                        <div class="col-12">
                            <hr class="post-thumb-divider">
                        </div>
                    </div>
                </div>
</div>